/*#2196F3; #212121-h3, #757575; - p, #FFFFFF; */
:root{
    --main-color: #757575;
    --brand-color: #2196F3;
    --titel-color: #212121;
    --white-color: #FFFFFF; 
    --button-color: #F5F4FA;
}
body {
    font-family: Roboto, sant-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logo {
    color: #2196f3;

    font-family: Raleway, sant-serif;
    font-weight: 700px;
    font-size: 26px;
    line-height: 1,19;
}

.logo-element {
    color: #2F303A;
}

.meny .meny-item{
    color: var(--titel-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.meny .meny-item:hover,
.meny .meny-item:focus  {
color: var(--brand-color);
}
.meny .meny-item:active  {
    color: var(--brand-color);
    }

.meny .meny-item.current{
    color: var(--brand-color);
}

/*.contact*/ .contact-item {
    color: var(--main-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
/*.contact*/ .contact-item:hover {
    color: var(--brand-color);
}
.hero {
    background-color: var(--main-color);
}
.hero .hero-title {
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.hero button {
    background-color: var(--brand-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
}

.section-title {
    color: var(--titel-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.advantages .advantages-title {
color: var(--titel-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.advantages .advantages-post {
    color: var(--main-color);
    
    line-height: 1.71;
    }
  
.team-title {
    color: var(--titel-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    }


.team-occupation {
    color: var(--main-color);

    font-size: 16px;
    line-height: 1.19;
}
    footer {
        background-color: var(--titel-color);
    }
    .footer .logo-element
    {
        color: var(--white-color);
    }
    .footer p {
        color: var(--white-color);
    }
    address {
        font-style: normal;
        line-height: 1.71;
    }

    button {
        font-family: inherit;
    }

    .secondary-button button {
        background-color: var(--button-color);
        color: var(--titel-color);
    
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
    }
    .secondary-button button:hover {
        background-color: var(--brand-color);
        color: var(--white-color);
    }
    .secondary-button button.current{
        background-color: var(--brand-color);
        color: var(--white-color);
    }

    .portfolio .portfolio-title {
        color: var(--titel-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .portfolio-post {
        color: var(--main-color);
        font-size: 16px;
        line-height: 1.87;
    }